<% @focus1="level1-act"%>
<% @focus2="level1-no"%>
<% @focus3="level1-no"%>
<% @focus4="level1-no"%>
<% @focus5="level1-no"%>
<% @focus6="level1-no"%>
<% @focus7="level1-no"%>
<%= content_for :contents do %>
<div class="head1" style="margin-top: 20px;">Internship</div>
<p style="width:700; text-align:justify;">
	<%=image_tag("1.JPG",:size=>"300x200",:align=>"left",:style=>"margin-right:10px;")%>
	Robotics group is one of the research groups of <strong>Interdisciplinary Center for Scientific 
	Computing (IWR)</strong> at Heidelberg University.  Variety of beginner or advance robotics 
	internships are provided by Robotics group.The project of my internship is slot machine 
	construction using<strong> Lego Mindstorms NXT</strong>. The goals are to construct a physical 
	slot machine and to program it  using <strong>NXC (Not eXactly C)</strong>. Construction part 
	one is reels designing. Construction part two is coin slot and lever designing.<strong> 
	Randomness</strong> is the most important algorithm in the programming part. The player will 
	put the coin in the slot. Then they will be able to push the lever to make three reels start 
	rotating in different random speed and angle.
</p>
<div class="head1" style="margin-top: 50px;">Millestones</div>
<p style="font-size:1em;text-align: left;">
  	<li><strong>In summer semester, beginning of June 2012:</strong> Start Project</li>
    <li><strong>Project Working Hours:</strong> 4 hours per week</li>
    <li><strong>By the middle of June:</strong> Design of the reels is finished</li>
    <li><strong>By the end of June:</strong> Construction of the slot machine is ready</li>
    <li><strong>By the middle of July:</strong> Program is finished</li>
    <li><strong>By the end of July:</strong> Presentation, webpage and poster</li>
</p>

<%end%>
